/* -------------------- */
/* Main styles -------- */
/* -------------------- */

:root {
  --main-purple: #7476bf;
  --purple-transparent: #7476bfab;
  --dark-purple: #4d4c72;
  --not-selected: rgba(255, 255, 255, 0.6);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #777777;
}

h1 {
  font-size: 1.4em;
  padding: 6px 20px;
  color: white;
  user-select: none;
}

h1 span {
  font-weight: 300;
}

h2 {
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1em;
}

h3 {
  font-size: 1em;
  font-weight: 400; 
  padding: 1em;
}

svg:hover {
  fill: white;
}

/* -------------------- */
/* Grid Styles -------- */
/* -------------------- */

.container {
  margin: auto;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-columns: 90px 1fr;
  grid-template-areas:
    "header header"
    "nav main"
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-purple);
}

header svg {
  padding: 23px;
  fill: var(--not-selected);
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dark-purple);
}

nav svg {
  flex-basis: 80px;
  padding: 20px 10px;
  fill: var(--not-selected);
}

nav svg:hover {
  border-left: 5px solid #85db80;
}

main {
  display: grid;
  grid-template-rows: auto;
  background-color: #a8a8a869;
  grid-gap: 1px;
}

main div {
  background-color: white;
  padding: 30px;
}

.dashboard-nav {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

#search {
  background: url(icons/search.png) no-repeat;
  background-size: 20px;
}

@media (min-width: 768px) {
  main {
    grid-template-rows: auto repeat(2, minmax(250px, 1fr)) 150px repeat(2, minmax(250px, 1fr));
    grid-template-areas: 
      "dashboard dashboard"
      "traffic-main traffic-main"
      "daily mobile"
      "social social"
      "members activity"
      "message settings"
  }
  .dashboard-nav {
    grid-area: dashboard;
  }
  .traffic-main {
    grid-area: traffic-main;
  }
  .daily-traffic {
    grid-area: daily;
  }
  .mobile-users {
    grid-area: mobile;
  }
  .social {
    grid-area: social;
  }
  .members {
    grid-area: members;
  }
  .recent-activity {
    grid-area: activity;
  }
  .message {
    grid-area: message;
  }
  .settings {
    grid-area: settings;
  }
}