/* -------------------- */
/* Main styles -------- */
/* -------------------- */

:root {
  --main-purple: #7476bf;
  --purple-transparent: #7476bfab;
  --dark-purple: #4d4c72;
  --unselected: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  color: #777777;
}

img {
  border-radius: 50%;
  display: block;
}

svg {
  max-width: 100%;
}

canvas {
  max-width: 100%;
}

header {
  background-color: var(--main-purple);
  color: white;
}

.title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

h1 {
  padding: 1em 0;
  color: white;
  user-select: none;
  margin: 0;
}

h1 span {
  font-weight: 300;
}

header svg {
  width: 25px;  
  fill: var(--unselected);
  padding: 10px;
}

.user-information {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  padding: 0 1em;
}

#avatarMain {
  width: 30%;
  height: auto;
  margin: 1em;
}

nav {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  background-color: var(--dark-purple);
}

nav svg {
  flex-basis: 40px;
  fill: var(--unselected);
}

h3 {
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1em;
}

h2 {
  font-size: 1em;
  font-weight: 400; 
  padding: 1em;
}

svg:hover {
  fill: white;
}

main {
  display: grid;
  grid-template-rows: auto;
  background-color: #a8a8a869;
  grid-gap: 1px;
}

main div {
  background-color: white;
  padding: .4em;
}

.dashboard-nav {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

#search {
  background: url(../icons/iconmonstr-search-thin.svg) no-repeat right;
  background-size: 1em;
  padding: .4em;
}

.search-icon {
  fill: var(--dark-purple);
}

@media (min-width: 768px) {
  main {
    grid-template-rows: auto repeat(2, minmax(250px, 1fr)) 150px repeat(2, minmax(250px, 1fr));
    grid-template-areas: 
      "dashboard dashboard"
      "traffic-main traffic-main"
      "daily mobile"
      "social social"
      "members activity"
      "message settings"
  }
  nav svg:hover {
    border-left: 5px solid #85db80;
  }
  .dashboard-nav {
    grid-area: dashboard;
  }
  .traffic-main {
    grid-area: traffic-main;
  }
  .daily-traffic {
    grid-area: daily;
  }
  .mobile-users {
    grid-area: mobile;
  }
  .social {
    grid-area: social;
  }
  .members {
    grid-area: members;
  }
  .recent-activity {
    grid-area: activity;
  }
  .message {
    grid-area: message;
  }
  .settings {
    grid-area: settings;
  }
}