// ======================================
//  Variables
// ======================================

// Fonts
$main-font: 'Roboto', sans-serif;

// Colors
$header-theme: #7476bf;
$nav-theme: #4d4c72;
$background: #ffffff;
$dark-background: #fbfbfb;
$svg-selected: #ffffff;
$svg-unselected: rgba($svg-selected, 0.6);
$main-text-color: #777777;
$main-text-light: lighten($main-text-color, 30%);
$main-text-dark: darken($main-text-color, 20%);
$alert: #85db80;
$second-tone: #81c98f;
$third-tone: #73b1bf;

// Borders
$border: solid 1px $main-text-light;


// Breakpoints
$break-s: 360px;
$break-m: 600px;
$break-l: 768px;
$break-xl: 1100px;