//=======================
// Forms
//=======================

.search-container {
  border: solid 1px $main-text-light;
  border-radius: 5px;
  margin: .6em;
}
  
.search-container input[type=text] {
  padding: 12px 0 12px 12px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}

.search-container input[type=text]::placeholder {
  color: $main-text-light;
}
  
.search-container button {
  float: right;
  background: white;
  border: none;
  font-size: 25px;
  padding: 9px 6px 4px;
  border-radius: 5px;
}