//=======================
// Grid styles
//=======================

main {
  display: grid;
  grid-template-rows: auto;
  background-color: $background;
  grid-gap: 1px;
}

.dashboard-nav {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-background;
}

.dashboard-nav h2 {
  background-color: $background;
  border-right: $border;
  border-top: $border;
  border-bottom: $background;
  margin-bottom: -3px;
  z-index: 10;
}

.chart {
  padding: .4em;
}

.traffic-main {
  border-top: $border;
}

//==========================
//==== Alert bar styles ====
//==========================

.alert-bar {
  background-color: $header-theme;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.alert-text-area {
  background-color: $header-theme;
}

.alert-bar button {
  background: transparent;
  border: none;
  display: inline;
  font-size: 10px;
}

.alert-text {
  font-weight: 700;
}

.alert-content {
  margin-left: 5px;
}

//==========================
//==== Social ==============
//==========================

.social-cards {
  padding-left: 10px;
  padding-right: 10px;
}

.social-card {
  border: $border;
  border-radius: 5px;
  background-color: $dark-background;
  margin: 1em auto;
  padding: 1.2em;
  display: flex;
  align-content: center;
  max-width: 340px;
}

.social-text h3 {
  color: $header-theme;
  font-weight: bold;
  padding: 0;
  text-transform: initial;
  font-size: 1.4em;
  margin: 0;
}

.social-text p {
  font-size: 3em;
  margin: 0;
  font-weight: 100;
}

.social-icon-outer {
  background-color: $header-theme;
  margin: 0 1em;
  padding: 1em;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.social-icon {
  fill: $svg-selected;
  stroke: rgba(255, 255, 255, 0);
  transition: fill .4s, stroke 1s;
}

.social-icon:hover {
  fill: $svg-unselected;
  stroke: $svg-unselected;
}

.twitter-icon {
  transform: translateY(4px);
}

.facebook-icon {
  transform: scale(1.2);
}

.google-icon {

}

//==========================
//==== New Members =========
//==========================

.memberListing {
  box-sizing: border-box;
  border-bottom: solid 1px $main-text-light;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.memberListing:last-child {
  border-bottom: none;
}

.memberListing img {
  width: 80px;
  padding: 10px;
}

.member-text {
  display: flex;
  flex-direction: column;
  font-size: .8em;
  line-height: 1.5;
}

.member-text a {
  font-size: .9em;
}

.memberName {
  color: $main-text-dark;
}