// ==========================
// Header 
// ==========================

header {
  background-color: $header-theme;
  color: white;
}

.title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

header svg {
  width: 25px;  
  fill: $svg-unselected;
  padding: 10px;
}

.user-information {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  padding: 0 1em;
}

#avatarMain {
  width: 30%;
  height: auto;
  margin: 1em;
}