// ==========================
// Header 
// ==========================

header {
  background-color: $header-theme;
  color: white;
  @include mq(medium) {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 180px;
    padding: .9em;
  }
}

.title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  @include mq(medium) {
    padding: 0 10px;
    justify-content: space-between;
  }
}

header svg {
  width: 25px;  
  fill: $svg-unselected;
  padding: 10px;
}

.user-information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  padding: 0 1em;
  @include mq(medium) {
    padding: 0 10px;
    border-left: 1px solid $nav-theme;
    justify-content: space-evenly;
  }
}

#avatarMain {
  width: 20%;
  height: auto;
  margin: 1em;
  @include mq(medium) {
    width: 20%;
    margin: 0 1em;
  }
}