//=========================
// Navigation styles
//=========================

nav {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    background-color: $nav-theme;
}
  
nav svg {
    flex-basis: 40px;
    fill: $svg-unselected;
}