//=======================
// Typography
//=======================

h1 {
  padding: 1em 0;
  color: white;
  user-select: none;
  margin: 0;
}

h1 span {
  font-weight: 300;
}

h2 {
  font-size: 1em;
  font-weight: 400; 
  padding: 1em;
}

h3 {
  font-size: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1em;
}
  
