// ======================================
//  Base Styles
// ======================================

body {
  font-family: $main-font;
  color: $main-text-color;
  font-weight: 300;
}

svg {
  max-width: 100%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

svg:hover {
  fill: $svg-selected;
}

a {
  text-decoration: none;
  color: $header-theme;
}

*::selection {
  background-color: $header-theme;
  color: $background;
}